.button-group {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.button-group button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-group button.active {
    background-color: #007BFF;
    color: #fff;
}

.button-group button:hover {
    background-color: #007BFF;
    color: #fff;
}