.d-flex {
    width: 100%;
    padding: 15px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.d-inline-block{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}